{% extends "base.html" %}

{% block content %}
<h1>Продукты</h1>
<ul>
    {% for product in products %}
    <li>{{ product.name }} - {{ product.description }} - {{ product.price }} - {{ product.quantity }}</li>
    <form method="post" action="{% url "task_2:add" %}">
        {% csrf_token %}
        <input type="hidden" name="product_id" value="{{ product.id }}">
        <button type="submit" class="btn btn-dark add-to-cart">Положить в корзину</button>
    </form>
    {% endfor %}
</ul>
{% endblock  %}

