{% extends "base.html" %}

{% block content %}
<h1>Продукты</h1>
<ul>
    {% for product in products %}
    <li>
        <img src="{{ product.photo.url }}" alt="{{ product.name }}" style="max-width: 100px; max-height: 100px;">
        <br>
        <strong>{{ product.name }}</strong> - {{ product.description }} - {{ product.price }} - {{ product.quantity }}
        <form method="post" action="{% url "task_2:add" %}">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <button type="submit" class="btn btn-dark add-to-cart">Положить в корзину</button>
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}
